<% if @plans %>

  <section class="inside-page">

    <%= render 'filters' %>
    <table>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= plan.name.titleize %></td>
        </tr>
      <% end %>
    </table>
  </section> <%# // .inside-page%>

<% else %>
  <section class="homepage">
    <h1>Find Your Plan</h1>
    <h2>Search all available ACA plans by your zip code!</h2>

    <% if params[:zip_code] %>
      <p>No plans found for that zip code!</p>
    <% end %>

    <%= form_tag plans_path, method: :get do %>
      <fieldset>
        <legend>Zip Code</legend>

        <%= label_tag :zipcode, 'Enter Your Home Zip Code' %>
        <%= text_field_tag :zip_code %>

        <div class="form-actions">
          <input type="submit" value="Go">
        </div>
      </fieldset>
    <% end %>
  </section> <%# // .homepage%>

<% end %>
